@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#141414] h-full overflow-x-hidden select-none;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #2c4d7c transparent;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  @apply w-[.85rem];
}

html::-webkit-scrollbar-thumb {
  @apply rounded-md border-[3px] border-solid border-transparent bg-[#D91921] bg-clip-content;
}

html::-webkit-scrollbar-track {
  @apply bg-transparent;
}
